<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Register</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A200%2C300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A200%2C300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A300%2C600"/>
  <link rel="stylesheet" href="./styles/register.css"/>
</head>
<body>
<div class="register-r1b">
  <p class="bagian-logistik-telkom-university-surabaya-m8Z">
  Bagian Logistik 
  <br/>
  Telkom University Surabaya
  </p>
  <div class="auto-group-kmqe-qeD">
    <div class="frame-5-NPF">Daftar</div>
    <img class="logo-simaset-1-da5" src="./assets/logo-simaset-1-Uqb.png"/>
    <div class="auto-group-ruha-MW5">
      <div class="rectangle--HPj">
      </div>
      <div class="rectangle--Nvy">
      </div>
    </div>
    <div class="auto-group-987e-66H">
      <div class="auto-group-soja-DAu">
        <img class="sort-down-program-studi-idT" src="./assets/sort-down-program-studi.png"/>
      </div>
      <div class="auto-group-bkpw-DKK">
        <img class="sort-down-status-9Ts" src="./assets/sort-down-status.png"/>
      </div>
    </div>
    <p class="selamat-datang-efX">Selamat Datang</p>
    <p class="silakan-daftar-akun-anda-terlebih-dahulu--9sB">Silakan daftar akun anda terlebih dahulu !</p>
    <div class="auto-group-vlx4-TN5">
      <p class="nama-lengkap-Njw">Nama Lengkap</p>
      <p class="nim-nip-sgh">NIM/NIP</p>
    </div>
    <div class="auto-group-lpvl-CDB">
      <p class="program-studi-WzZ">Program Studi</p>
      <p class="status-2xu">Status</p>
    </div>
    <p class="email-AZK">Email</p>
    <div class="auto-group-6qvk-sid">
      <p class="kata-sandi-buX">Kata Sandi</p>
      <p class="konfirmasi-kata-sandi-tNq">Konfirmasi Kata Sandi</p>
    </div>
    <div class="rectangle-email-okh">
    </div>
    <div class="auto-group-am3i-5iD">
      <div class="rectangle-email-uSM">
      </div>
      <div class="rectangle-email-cbf">
      </div>
    </div>
    <p class="sudah-memiliki-akun-kembali-ke-login-jwB">
      <span class="sudah-memiliki-akun-kembali-ke-login-jwB-sub-0">Sudah memiliki akun? </span>
      <span class="sudah-memiliki-akun-kembali-ke-login-jwB-sub-1">Kembali ke Login</span>
    </p>
  </div>
</div>
</body>