
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.lupa-password-9K3 {
  background-image: url('REPLACE_IMAGE:aa9d48285385593a18cac17f30e2dc4cd0b95050');
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 4.5rem 36.5rem 9.7rem 36.5rem;
  width: 100%;

  .bagian-logistik-telkom-university-surabaya-4gu {
    flex-shrink: 0;
    max-width: 52.3rem;
    line-height: 1.2175;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    margin: 0rem 0.1rem 5.8rem 0rem;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
  }
  .auto-group-jpzw-jo3 {
    background-color: #f5f5f5;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    border-radius: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 7.9rem 8.7rem 7.9rem;

    .logo-simaset-1-SxM {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.1rem 5.5rem 0rem;
      width: 20.7rem;
      height: 4.5rem;
      object-fit: cover;
    }
    .untuk-mengatur-ulang-kata-sandi-anda-masukkan-alamat-email-anda-kami-akan-mengirimi-email-berisi-petunjuk-mengatur-kata-sandi-baru-xA1 {
      display: flex;
      font-weight: 100;
      line-height: 1.2175;
      letter-spacing: 0.078rem;
      color: #000000;
      flex-shrink: 0;
      max-width: 41.6rem;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      font-family: Montserrat, 'Source Sans Pro';
      margin: 0rem 0rem 4.1rem 0.1rem;
    }
    .email--yau {
      display: flex;
      letter-spacing: 0.078rem;
      font-size: 1.3rem;
      font-weight: 100;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      margin: 0rem 47.6rem 0.7rem 0rem;
      align-items: baseline;
      justify-content: center;
      white-space: nowrap;
      flex-shrink: 0;

      .email--yau-sub-0 {
      }
      .email--yau-sub-1 {
        color: #cc3d25;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.2175;
        letter-spacing: 0.078rem;
      }
    }
    .auto-group-pjag-g7w {
      margin-bottom: 3.6rem;
      text-align: center;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      font-size: 1.6rem;
      color: #a7a3a3;
      white-space: nowrap;
      border: solid 0.1rem #000000;
      background-color: #eee9e9;
      padding: 1.6rem 6.5rem;
      font-weight: 400;
    }
    .auto-group-krt6-jM7 {
      width: 100%;
      height: 5.2rem;
      text-align: center;
      margin-bottom: 1.4rem;
      font-size: 2rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      border: solid 0.1rem #000000;
      background-color: #9d2a17;
      font-weight: 600;
      color: #ffffff;
      align-items: center;
      box-sizing: border-box;
      line-height: 1.2175;
      justify-content: center;
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .cancel-PgZ {
      margin-left: 47.3rem;
      text-align: center;
      font-weight: 300;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.5rem;
      line-height: 1.2175;
      color: #000000;
      flex-shrink: 0;
    }
  }
}
