
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-r1b {
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 3.1rem 15.5rem 5.5rem 18.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:aa9d48285385593a18cac17f30e2dc4cd0b95050');
  width: 100%;
  overflow: hidden;
  align-items: center;

  .bagian-logistik-telkom-university-surabaya-m8Z {
    margin: 0rem 2.7rem 2.5rem 0rem;
    text-align: center;
    font-weight: 700;
    flex-shrink: 0;
    max-width: 49rem;
    font-size: 3.6rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-kmqe-qeD {
    width: 100%;
    height: 60.1rem;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 1rem;
    flex-shrink: 0;

    .frame-5-NPF {
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      border-radius: 0.6rem;
      top: 49.5rem;
      left: 19.1rem;
      display: flex;
      background-color: #9d2a17;
      width: 74.2rem;
      align-items: center;
      position: absolute;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2175;
      white-space: nowrap;
      justify-content: center;
      height: 3.4rem;
    }
    .logo-simaset-1-da5 {
      object-fit: cover;
      vertical-align: top;
      width: 20.7rem;
      height: 4.5rem;
      position: absolute;
      left: 42.9rem;
      top: 3.6rem;
    }
    .auto-group-ruha-MW5 {
      width: 74.2rem;
      height: 3.1rem;
      position: absolute;
      left: 19.1rem;
      top: 20.6rem;
      display: flex;
      align-items: center;

      .rectangle--HPj {
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #eee9e9;
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin: 0.2rem 9.6rem 0rem 0rem;
        width: 32.3rem;
        height: 2.9rem;
      }
      .rectangle--Nvy {
        height: 2.9rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #eee9e9;
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 32.3rem;
      }
    }
    .auto-group-987e-66H {
      top: 28rem;
      display: flex;
      align-items: center;
      width: 74.2rem;
      height: 3.1rem;
      position: absolute;
      left: 19.1rem;

      .auto-group-soja-DAu {
        background-color: #eee9e9;
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin: 0.2rem 9.6rem 0rem 0rem;
        box-sizing: border-box;
        padding: 0rem 0.4rem 0rem 29.3rem;
        height: 2.9rem;
        border: solid 0.1rem #000000;

        .sort-down-program-studi-idT {
          width: 2.6rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-bkpw-DKK {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        box-sizing: border-box;
        padding: 0.3rem 0.4rem 0rem 29.3rem;
        border: solid 0.1rem #000000;
        background-color: #eee9e9;
        border-radius: 0.4rem;

        .sort-down-status-9Ts {
          width: 2.6rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .selamat-datang-efX {
      height: 2rem;
      left: 19.2rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 12.1rem;
      position: absolute;
      top: 11.1rem;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .silakan-daftar-akun-anda-terlebih-dahulu--9sB {
      line-height: 1.2125;
      white-space: nowrap;
      height: 1.5rem;
      position: absolute;
      left: 19.2rem;
      font-size: 1.2rem;
      font-weight: 200;
      width: 22.8rem;
      top: 14.4rem;
      text-align: center;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-vlx4-TN5 {
      display: flex;
      align-items: center;
      width: 46.8rem;
      height: 1.7rem;
      position: absolute;
      left: 19.2rem;
      top: 18.1rem;

      .nama-lengkap-Njw {
        text-align: center;
        font-size: 1.2rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin: 0.2rem 33.7rem 0rem 0rem;
        font-weight: 200;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .nim-nip-sgh {
        line-height: 1.2102272511;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 200;
        margin-bottom: 0.2rem;
        white-space: nowrap;
      }
    }
    .auto-group-lpvl-CDB {
      height: 1.7rem;
      position: absolute;
      left: 19.4rem;
      top: 25.5rem;
      display: flex;
      align-items: center;
      width: 45.7rem;

      .program-studi-WzZ {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 34.2rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 1.2125;
        text-align: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .status-2xu {
        text-align: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
        font-weight: 200;
        color: #000000;
      }
    }
    .email-AZK {
      width: 3rem;
      height: 1.5rem;
      left: 19.7rem;
      font-weight: 200;
      color: #000000;
      position: absolute;
      top: 33.1rem;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-6qvk-sid {
      top: 40.3rem;
      display: flex;
      align-items: center;
      width: 53.3rem;
      height: 1.6rem;
      position: absolute;
      left: 19.7rem;

      .kata-sandi-buX {
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 35.3rem 0.1rem 0rem;
        text-align: center;
        font-weight: 200;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        line-height: 1.2125;
        color: #000000;
      }
      .konfirmasi-kata-sandi-tNq {
        font-size: 1.2rem;
        line-height: 1.2102272511;
        white-space: nowrap;
        margin-top: 0.1rem;
        text-align: center;
        font-weight: 200;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .rectangle-email-okh {
      height: 2.9rem;
      position: absolute;
      left: 19.1rem;
      top: 35.6rem;
      background-color: #eee9e9;
      border-radius: 0.4rem;
      width: 74.2rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
    }
    .auto-group-am3i-5iD {
      width: 73.9rem;
      height: 2.9rem;
      position: absolute;
      left: 19.4rem;
      top: 42.8rem;
      display: flex;
      align-items: center;

      .rectangle-email-uSM {
        margin-right: 10rem;
        width: 31.6rem;
        height: 2.9rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #eee9e9;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
      .rectangle-email-cbf {
        background-color: #eee9e9;
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 32.3rem;
        height: 2.9rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
      }
    }
    .sudah-memiliki-akun-kembali-ke-login-jwB {
      text-align: center;
      white-space: nowrap;
      align-items: baseline;
      font-size: 1.5rem;
      display: flex;
      top: 54rem;
      line-height: 1.2189999898;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      height: 1.9rem;
      position: absolute;
      left: 42.5rem;
      width: 27.3rem;
      font-weight: 300;

      .sudah-memiliki-akun-kembali-ke-login-jwB-sub-0 {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .sudah-memiliki-akun-kembali-ke-login-jwB-sub-1 {
        font-weight: 300;
        line-height: 1.2125;
        color: #9d2a17;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.5rem;
      }
    }
  }
}
