
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.lupa-password-9K3 {
  box-sizing: border-box;
  padding: 4.5rem 36.5rem 9.7rem 36.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/lupa-password-bg.png');
}
.lupa-password-9K3 .bagian-logistik-telkom-university-surabaya-4gu {
  margin: 0rem 0.1rem 5.8rem 0rem;
  max-width: 52.3rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.lupa-password-9K3 .auto-group-jpzw-jo3 {
  box-sizing: border-box;
  padding: 4rem 7.9rem 8.7rem 7.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 1rem;
  flex-shrink: 0;
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .logo-simaset-1-SxM {
  margin: 0rem 0.1rem 5.5rem 0rem;
  width: 20.7rem;
  height: 4.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .untuk-mengatur-ulang-kata-sandi-anda-masukkan-alamat-email-anda-kami-akan-mengirimi-email-berisi-petunjuk-mengatur-kata-sandi-baru-xA1 {
  margin: 0rem 0rem 4.1rem 0.1rem;
  max-width: 41.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.2175;
  letter-spacing: 0.078rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .email--yau {
  margin: 0rem 47.6rem 0.7rem 0rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.2175;
  letter-spacing: 0.078rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .email--yau .email--yau-sub-0 {
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .email--yau .email--yau-sub-1 {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.2175;
  letter-spacing: 0.078rem;
  color: #cc3d25;
  font-family: Montserrat, 'Source Sans Pro';
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .auto-group-pjag-g7w {
  margin-bottom: 3.6rem;
  box-sizing: border-box;
  padding: 1.6rem 6.5rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #a7a3a3;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #eee9e9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .auto-group-krt6-jM7 {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 5.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9d2a17;
  border-radius: 1rem;
  flex-shrink: 0;
}
.lupa-password-9K3 .auto-group-jpzw-jo3 .cancel-PgZ {
  margin-left: 47.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
